<!DOCTYPE html>
<html lang="pt-br">

    <%- include('../partials/head'); %>

    <body class="container">

        <%- include('../partials/header', {pagina: 'sobre'}); %>
        
        <main>
            <div class="p-5 bg-light">
                <h1>Sobre mim</h1>
                <p>Oi, sou o Devprodigy e neste GitHub você encontrará alguns projetos para te ajudar.</p>
            </div>
        </main>

        <%- include('../partials/footer'); %>

    </body>

</html>
